alembic==1.12.0
astroid==2.15.6
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
dill==0.3.7
distlib==0.3.7
dnspython==2.3.0
email-validator==2.0.0.post2
filelock==3.12.2
Flask==2.2.5
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
isort==5.11.5
itsdangerous==2.1.2
Jinja2==3.1.2
lazy-object-proxy==1.9.0
Mako==1.2.4
MarkupSafe==2.1.3
mccabe==0.7.0
packaging==23.1
pipenv==2023.9.8
platformdirs==3.10.0
pylint==2.17.5
requests==2.31.0
SQLAlchemy==2.0.20
tomlkit==0.12.1
typing_extensions==4.7.1
urllib3==2.0.4
virtualenv==20.24.3
virtualenv-clone==0.5.7
Werkzeug==2.2.3
wrapt==1.15.0
WTForms==3.0.1
Flask-Cors==4.0.0
flask-restx==1.1.0